<div class="creations">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <h2>Creation Community</h2>
            <p>Explore the creations from our community.</p>
          </div>
          <div class="col-md-8">
            <% @creations.in_groups_of(3).each do |creations| %>
              <% creations.select! {|x| !x.nil?} %>
              <div class='row'>
                <% creations.each do |creation| %>
                  <div class='col-md-4'>
                    <div class="thumbnail">
                        <img src= <%= creation.image.url %> >
                        <div class="caption">
                          <span class="listing-title"><%= creation.name %></span>
                          <span><%= link_to "Edit", edit_creation_path(creation.id) %></span>
                          <span><%= link_to 'Show', creation %></span>
                          <td><%= link_to 'Delete', creations_delete_path(:id => creation.id) %></td>
                        </div>
                      </div>
                    </div>
                <% end %>
              </div>
            <% end %>

          </div>
        </div>

      </div>
    </div>

<table>
  <thead>
    <tr>
      <th>Creation name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @creations.each do |creation| %>
      <tr>
        <td><%= creation.name %></td>
        <div class="thumbnail">
           <img src= <%=creation.image.url %> >
        <div>
        <td><%= link_to 'Show', creation %></td>
        <td><%= link_to 'Edit', edit_creation_path(creation) %></td>
        <td><%= link_to 'Delete', creations_delete_path(:id => creation.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Creation', new_creation_path %>


