<%= form_for @creation, :url => creations_path, :html => { :class => 'form-horizontal', multipart: true } do |f| %>

  <input type="text" value="Name (Required)" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name (Required)';}">

  <input type="text" value="Creator Name (Required)" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Creator Name (Required)';}">

  <input type="text" value="Description" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Description';}">

  <div class="control-group">
    <%= f.label :pictures, :class => 'control-label', :style => 'font-size: 200%; color: white' %>
    <div class="controls">
      <!-- The magic is coming ...look at my eyes....shazammmm -->
      <!-- Use HTML5 multiple attribute to enable multiple selection
           and pass back to controller all files as an array, ready 
           for paperclip!!
           file_field_tag, since images is not a gallery attribute
       -->
      <%= file_field_tag "images[]", type: :file, multiple: true, style: 'font-size: 200%' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                creations_path, :class => 'btn btn-mini' %>
  </div>
<% end %>