<%= render 'shared/topnav' %>

<div class="container"><!-- start main -->
  <div class="main row">
    <h2 class="style">Explore the creations from our community</h2>
     <div class="grids_of_4 row">
       
        <% @creations.each do |creation| %>
          <div class="col-md-3 images_1_of_4">
            <div class="fancyDemo">
              <a rel="group" title="" href=<%= creation_path(creation) %>><%= image_tag creation.pictures[0].image.url, class: "img-responsive" %></a>
            </div>
             <p class="para"><%= creation.name %></p>
             <h4><%= link_to 'Show', creation %></h4>
             <h4><%= link_to 'Edit', edit_creation_path(creation) %></h4>
             <h4><%= link_to 'Delete', creations_delete_path(:id => creation.id) %></h4>
          </div>
      
        <% end %>

        <div class="col-md-3 images_1_of_4">
          <div class="fancyDemo">
            <a rel="group" title="" href="/assets/lynx-part.png"><img src="/assets/lynx-part.png" alt=""class="img-responsive"/></a>
          </div>
           <p class="para">There are many variations of passages of Lorem Ipsum available,</p>
           <h4><a href="single-page.html">ipsum dolor</a> </h4>
        </div>


        <div class="col-md-3 images_1_of_4">
          <div class="fancyDemo">
            <a rel="group" title="" href="/assets/boxes.png"><img src="/assets/boxes.png" alt=""class="img-responsive"/></a>
          </div>
           <p class="para">Our website design and development provides quality web solutions,</p>
           <h4><a href="single-page.html">Lorem ipsum</a></h4>
        </div>
        <div class="clear"></div>

                
      </div>
  </div>
</div><!-- end main -->
<div class="footer_bg" id="contact"><!-- start footer -->
  <div class="container">
    <div class="row footer">
      <div class="col-md-8 contact_left">
        <h3><%= link_to 'New Creation', new_creation_path %></h3>
      </div>  
    </div>
  </div>
</div>

<%= render 'shared/footnav' %>