<h3 style="text-align:left; margin: 2% 4% -2%;"><%= link_to 'New Creation', new_creation_path %></h3>
<h2 class="style">Explore the creations from our community</h2>
<h3 style="text-align:right; margin: 2% 4% -2%;"><%=render 'form_sort' %></h3>
  <div class="main row">
     <div class="grids_of_4 row">
       
        <% @creations.each do |creation| %>
		 <% if creation.isAc ==1 %>
          <div class="col-md-3 images_1_of_4">
            <div class="fancyDemo">
              <a rel="group" title="" href=<%= creation_path(creation) %>>
					<% unless creation.cover.nil? %>
			 		  <%= image_tag creation.cover.cover.url, class: "img-responsive" %>
							<% end %>
	     		</a>
				<p class="para"><%= creation.name %></p>
            </div> 
          </div>
		<% end %>
        <% end %>
        
      </div>
  </div>
