<html>
<h4><%= "Creation Name: "+@creation.name%></h4>
<h4><%= "Creator Name: "+@creation.creator_name%></h4>
<h4><%= "Description: "+@creation.description%></h4>

<tr>
   <td><% pluralize(@creation.votes.count, "vote") %></td>
   <td><% button_to '+1', upvote_creation_path(@creation), method: :post %></td>
</tr>
<% count=0 %>
<div class="grids_of_4 row">
  <div class="col-md-3 images_1_of_4">
    <div class="fancyDemo">
      <!-- a rel="group" title="" href=<%= @creation.cover.cover.url %>><%= image_tag @creation.cover.cover.url, class: "img-responsive" %></a -->
     <a class="fancybox-thumbs" rel="gallery1" href=<%= @creation.cover.cover.url %> data-fancybox-group="gallery" title=""><img src=<%= @creation.cover.cover.url %> class="img-responsive" alt="" /></a>
    </div>
  </div>
       
  <% @creation.pictures.each do |p| %>
    <% count=count+1 %>
    <% if count%4==0 %>
            <div class="grids_of_4 row">
    <% end %>
    <div class="col-md-3 images_1_of_4">
      <div class="fancyDemo">
	<a class="fancybox-thumbs" rel="gallery1" href=<%= p.image.url %> data-fancybox-group="gallery" title=""><img src=<%= p.image.url %> class="img-responsive" alt="" /></a >
	<!-- a class="fancybox-effects-a" href=<%= p.image.url %> title="Lorem ipsum dolor sit amet, consectetur adipiscing elit"><img src=href=<%= p.image.url %> alt="" /></a -->
        <!-- a rel="group" title="" href=<%= p.image.url %>><%= image_tag p.image.url, class: "img-responsive" %></a -->
      </div>
    </div>
    <% if count%4==3 %>
      </div>
    <% end %>
  <% end %>
<% if count%4!=3 %>
  </div>
<% end %>

<h4><%= link_to image_tag("/images/upvote.jpg", size: "70x70"), upvote_creation_path(@creation) %>
<%= pluralize(@creation.votes.count, "vote") %></h4>

<h3>Share this creation!</h3>
<link href="/assets/sharebutton.css" rel='stylesheet' type='text/css' />
<h4><% render_shareable :buttons=> ['twitter', 'facebook', 'tumblr', 'google_plus','linkedin'] %></h4>

<div id="share-buttons">
<% share_url = request.original_url %>
<!-- Facebook -->
<a href="http://www.facebook.com/sharer.php?u=#{share_url}" target="_blank"><img src="/assets/facebook.png" alt="Facebook" /></a>
<!-- Twitter -->
<a href="http://twitter.com/share?url=#{share_url}&text=Lyntoys&hashtags=simplesharebuttons" target="_blank"><img src="/assets/twitter.png" alt="Twitter" /></a>
<!-- Google+ -->
<a href="https://plus.google.com/share?url=#{share_url}" target="_blank"><img src="/assets/google.png" alt="Google" /></a>
<!-- Digg -->
<a href="http://www.digg.com/submit?url=#{share_url}" target="_blank"><img src="/assets/diggit.png" alt="Digg" /></a>
<!-- Reddit -->
<a href="http://reddit.com/submit?url=#{share_url}&title=Lyntoys" target="_blank"><img src="/assets/reddit.png" alt="Reddit" /></a>
<!-- LinkedIn -->
<a href="http://www.linkedin.com/shareArticle?mini=true&url=#{share_url}" target="_blank"><img src="/assets/linkedin.png" alt="LinkedIn" /></a>
<!-- Pinterest -->
<a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img src="/assets/pinterest.png" alt="Pinterest" /></a>
<!-- StumbleUpon-->
<a href="http://www.stumbleupon.com/submit?url=#{share_url}&title=Simple Share Buttons" target="_blank"><img src="/assets/stumbleupon.png" alt="StumbleUpon" /></a>
<!-- Email -->
<a href="mailto:?Subject=Simple Share Buttons&Body=I%20saw%20this%20and%20thought%20of%20you!%20 #{share_url}"><img src="/assets/email.png" alt="Email" /></a>
</div> 
</html>
